.game-area{
 position: relative;
 margin:  25px auto;
 width: 600px;
 height: 500px;
 border: 2px solid #000; 
}
.header{
  position: relative;
  margin:  25px auto;
  padding: 0px 0px 0px 550px;
  color: teal;
}
.snake-dot{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: teal;
  border: 1px  solid #fff; 
}

.snake-food{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border :1px solid #fff;
}